# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.$py.class

# Virtual environment
venv/

# Environment variables
.env

# Database file
*.db
*.sqlite3

# IDE and editor files
.idea/
.vscode/
*.swp
*~
